# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VS Code stuff
.vscode/

# Python
*.pyc

# Configs
config.ini

# Scripts
2_run_scanner.sh
1_run_server.sh
3_run_listener.sh
4_run_client.sh
