 [Unit]
 Description=Starts Monitor Mode
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/bash /root/deploy-folder/scripts/start_monitor_mode.sh

 [Install]
 WantedBy=multi-user.target