 [Unit]
 Description=piPeCounter Server Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/bash /root/deploy-folder/scripts/1_run_server.sh

 [Install]
 WantedBy=multi-user.target