 [Unit]
 Description=piPeCounter Scanner Service
 After=multi-user.target pipecounter_server.service

 [Service]
 Type=idle
 ExecStart=/bin/bash ~/deploy-folder/scripts/2_run_scanner.sh

 [Install]
 WantedBy=multi-user.target