[DEFAULT]
SENSOR_ID = rpi0w_0
PHYSICAL_AREA = lnu/classrooms/classroom_0
MQTT_SERVER = localhost
MQTT_PORT = 1883
BT_SCAN_DURATION_IN_SEC = 300
WIFI_SCAN_DURATION_IN_SEC = 330
WIFI_ADAPTER = wlan0mon
